@use "../../global" as global;

.p-cards-service {
    display: flex;
    flex-wrap: wrap;
}

.p-cards-service--col3 {
    $col_num: 3;
    $card_margin: 60px;
    margin-bottom: -30px;

    & > .p-cards-service__item {
        flex-direction: column;

        // カラム数、カード間マージンから、カードの幅を算出
        width: calc(#{percentage(calc(100 / $col_num) * 0.01)} - #{$card_margin} * calc(#{$col_num - 1} / #{$col_num}));
        // width: 100px;
        height: auto;
        margin-right: $card_margin;
        margin-bottom: 30px;

        // 右端のカードのマージンを0に設定
        &:nth-of-type(#{$col_num}n) {
            margin-right: 0;
        }
    }
}

@include global.media(sp) {
    .p-cards-service--col3 {
        $col_num: 1;
        $card_margin: 60px;

        & > .p-cards-service__item {
            width: calc(#{percentage(calc(100 / $col_num) * 0.01)} - #{$card_margin} * calc(#{$col_num - 1} / #{$col_num}));
            margin-right: 0;
            margin-bottom: 30px;

            &:nth-of-type(#{$col_num}n) {
                margin-right: 0;
            }
        }
    }
}

