@use "../../global" as global;

// button
.c-submit-button {
    display: inline-block;
    width: 255px;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid global.$color-black;
    background-color: global.$color-white;
    color: global.$color-black;
    font-weight: bold;
    font-weight: normal;
    // font-size: rem(16);
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: .25s;

    &:hover, &:focus, &:active {
        border: 1px solid global.$color-white;
        background-color: global.$color-black;
        color: global.$color-white;
    }

    &--disabled {
        background-color: global.$color-hovergray;
        color: global.$color-gray;
        cursor: default;

        &:hover, &:focus, &:active {
            border: 1px solid global.$color-black;
            background-color: global.$color-hovergray;
            color: global.$color-gray;
            cursor: default;
        }
    }
}

@include global.media(sp) {
    .c-submit-button {
        width: 100%;
    }
}
