@use "../../global" as global;

@include global.media(sp) {

  .c-modal-close-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-weight: normal;
    line-height: 20px;
    color: global.$color-black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: global.$color-white;
    border: 1px solid global.$color-black;
    transition: 0.25s;
  }
}

// button

.c-submit-button {
  display: inline-block;
  width: 255px;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 40px;
  font-size: global.rem(16);
  font-weight: bold;
  font-weight: normal;
  line-height: 20px;
  color: global.$color-black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: global.$color-white;
  border: 1px solid global.$color-black;
  transition: 0.25s;

  &:hover,
  &:focus,
  &:active {
    color: global.$color-white;
    background-color: global.$color-black;
    border: 1px solid global.$color-white;
  }

  &--disabled {
    color: global.$color-gray;
    cursor: default;
    background-color: global.$color-hovergray;

    &:hover,
    &:focus,
    &:active {
      color: global.$color-gray;
      cursor: default;
      background-color: global.$color-hovergray;
      border: 1px solid global.$color-black;
    }
  }
}

@include global.media(sp) {

  .c-submit-button {
    width: 100%;
  }
}
