@use "../../global" as global;

.c-require-label {
  display: inline-block;
  width: 56px;
  max-width: 100%;
  padding: 2px;
  margin-left: 15px;
  font-weight: normal;
  line-height: 20px;
  color: global.$color-white;
  text-align: center;
  text-decoration: none;
  background-color: global.$color-red;
  border: none;
}
