@use "../../global" as global;

.c-skill-lable {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  font-size: 0.8rem;
  font-weight: bold;
  font-weight: normal;
  line-height: 20px;
  color: global.$color-black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: global.$color-white;
  border: 1px solid global.$color-black;
  border-radius: 5px;
  transition: 0.25s;

  &:hover,
  &:focus,
  &:active {
    color: global.$color-gray;
    background-color: global.$color-white;
    border: 1px solid global.$color-gray;
  }
}

.c-skill-lable--nolink {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  font-size: 0.8rem;
  font-weight: bold;
  font-weight: normal;
  line-height: 20px;
  color: global.$color-black;
  text-align: center;
  text-decoration: none;
  cursor: default;
  background-color: global.$color-white;
  border: 1px solid global.$color-black;
  border-radius: 5px;
  transition: 0.25s;
}
