@use "../../global" as global;

.u-effect-fadein {
    @include global.z-index(modal);
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
    @include global.z-index(tooltip);
}

@keyframes fadeInAnime{
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
}
