@use "../../global" as global;

.u-effect-fadein {
  @include global.z-index(modal);

  position: relative;
  opacity: 0;
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  @include global.z-index(tooltip);
}

@keyframes fadeInAnime {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
