@use "../../global" as global;

.c-card-service {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: global.rem(24);
    }

    &__sub-title {
        font-weight: normal;
        font-size: global.rem(16);
    }

    &__icon-wrapper {
        width: 40px;
        height: 50px;
        margin-top: 39px;
        margin-bottom: 50px;
    }

    &__text {
        margin-bottom: 5px;
        font-weight: normal;
        font-size: global.rem(16);
        line-height: calc(24 / 16);
    }
}


@include global.media(sp) {
    .c-card-service {
        &__icon-wrapper {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        &__text {
            font-size: global.rem(16);
        }

        &__body {
            margin-bottom: 50px;
        }
    }
}

