/*!************************************************************************************************************************************************!*\
!*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/stylesheets/main.scss ***!
\************************************************************************************************************************************************/
@charset "UTF-8";
/*! ======================================================================

  このCSSファイルはSassから生成されているため編集しないようご注意下さい。

======================================================================  */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /* ADD START */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* ADD END */
}

body {
  line-height: 1;
  /* ADD START */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* ADD END */
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* MOD START */
ul, ol {
  /* MOD END */
  list-style: none;
  /* ADD START */
  list-style-type: none;
  /* ADD END */
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /* ADD START */
  text-decoration: none;
  /* ADD END */
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Noto Sans CJK JP", "Noto Sans JP", "Lato", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.l-header {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
}

.l-header__inner {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 100%;
  padding: 0 20px;
}

@media only screen and (max-width: 767px) {
  .l-header {
    height: 150px;
  }
  .l-header__inner {
    flex-direction: column;
  }
}
.l-fv {
  height: 100vh;
}

.l-fv__inner {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

@media only screen and (max-width: 767px) {
  .l-fv {
    height: 100vh;
  }
}
.l-service__inner {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 60px 20px;
}

@media only screen and (max-width: 767px) {
  .l-service__inner {
    padding: 40px 60px;
  }
}
.l-main-works__inner {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 40px 20px;
}

@media only screen and (max-width: 767px) {
  .main-works__inner {
    padding: 40px 60px;
  }
}
.l-about__inner {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 160px 20px 80px 20px;
}

@media only screen and (max-width: 767px) {
  .l-about__inner {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    padding-top: 190px;
  }
}
.l-skills__inner {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 0 20px 160px 20px;
}

@media only screen and (max-width: 767px) {
  .l-skills__inner {
    padding: 0 20px 80px 20px;
  }
}
.l-works__inner {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 160px 20px 80px 20px;
}

@media only screen and (max-width: 767px) {
  .l-works__inner {
    padding-top: 190px;
  }
}
.l-contact__inner {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  padding: 160px 20px 80px 20px;
}

@media only screen and (max-width: 767px) {
  .contact__inner {
    padding-top: 190px;
  }
}
.l-footer {
  height: 80px;
}

.l-footer__inner {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.c-card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-card-service__title {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1.5rem;
}

.c-card-service__sub-title {
  font-weight: normal;
  font-size: 1rem;
}

.c-card-service__icon-wrapper {
  width: 40px;
  height: 50px;
  margin-top: 39px;
  margin-bottom: 50px;
}

.c-card-service__text {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-card-service__icon-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .c-card-service__text {
    font-size: 1rem;
  }
  .c-card-service__body {
    margin-bottom: 50px;
  }
}
.c-card-skills {
  display: flex;
}

.c-card-skills__logo-wrapper {
  flex-basis: 15%;
  padding: 0 10px;
}

.c-card-skills__logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.c-card-skills__body {
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
}

.c-card-skills__title {
  margin-bottom: 4px;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.1818181818;
  font-family: "Lato", "Noto Sans CJK JP", "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

.c-card-skills__point {
  display: flex;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.c-card-skills__point .point-on {
  color: #333333;
}

.c-card-skills__point .point-off {
  color: #f6f6f6;
}

.c-card-skills__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-card-skills__title {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .c-card-skills__point {
    font-size: 1.125rem;
    line-height: 1.5;
  }
  .c-card-skills__text {
    font-size: 1rem;
    line-height: 1.3125;
  }
}
.c-card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-card-works__img-wrapper {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 4px #979797;
}

.c-card-works__img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.c-card-works__img {
  transition: 0.5s;
  object-fit: cover;
  object-position: top;
}

.c-card-works__img:hover {
  opacity: 0.8;
  transform: scale(1.1, 1.1);
}

.c-card-works__link {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.c-card-works__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5;
}

.c-card-works__text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-card-works__title {
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
  }
  .c-card-works__text {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125;
  }
}
/*!******************************
Modal
*********************************/
.c-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.c-modal__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.c-modal__img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

body.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-modal {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.c-modal__bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.c-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80vh;
  border-radius: 5px;
  background: #ffffff;
}

.c-modal__inner {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 60px;
}

.c-modal__images {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  height: 100%;
}

.c-modal__thumbs-list {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 20%;
}

.c-modal__thumb-wrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-right: 10px;
  box-shadow: 2px 2px 4px #979797;
  cursor: pointer;
}

.c-modal__thumb-wrapper:last-child {
  margin-right: 0;
}

.c-modal__thumb-wrapper:before {
  display: block;
  padding-top: 100%; /* アスペクト比(横に対する縦の長さ) */
  content: "";
}

.c-modal__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
  object-position: top;
}

.c-modal__thumb:hover {
  opacity: 0.5;
}

.c-modal__img-wrapper {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  box-shadow: 2px 2px 4px #979797;
  object-fit: cover;
  object-position: top;
  -ms-overflow-style: none; /* これを追加 */
  scrollbar-width: none;
}

.c-modal__img-wrapper::-webkit-scrollbar {
  display: none;
}

.c-modal__img {
  width: 100%;
}

.c-modal__body {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  height: 100%;
  padding-left: 40px;
}

.c-modal__title {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.25;
}

.c-modal__item {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  font-family: "Lato", "Noto Sans CJK JP", "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

.c-modal__text {
  margin-top: 20px;
  overflow-y: auto;
  font-size: 1rem;
  line-height: 1.625;
  -ms-overflow-style: none; /* これを追加 */
  scrollbar-width: none;
}

.c-modal__text::-webkit-scrollbar {
  display: none;
}

.c-modal__text .item {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.125rem;
  text-decoration: underline;
}

.c-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #333333;
  font-weight: bold;
  font-size: 1.125rem;
  cursor: pointer;
}

.c-modal__close:hover, .c-modal__close:focus, .c-modal__close:active, .c-modal__close:visited, .c-modal__close:link {
  color: #333333;
}

.c-modal--single-page .c-modal__img-wrapper {
  height: 100%;
}

.c-modal--single-page .c-modal__thumbs-list {
  height: 0;
}

@media only screen and (max-width:1023px) {
  .c-modal__content {
    width: 90%;
    height: 90vh;
  }
  .c-modal__inner {
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px;
  }
  .c-modal__images {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 50%;
  }
  .c-modal__thumbs-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 20%;
  }
  .c-modal__thumb-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 50px;
    box-shadow: 2px 2px 4px #979797;
    cursor: pointer;
  }
  .c-modal__thumb-wrapper:last-child {
    margin-right: 0;
  }
  .c-modal__thumb-wrapper:before {
    display: block;
    padding-top: 0; /* アスペクト比(横に対する縦の長さ) */
    content: "";
  }
  .c-modal__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
    object-position: top;
  }
  .c-modal__thumb:hover {
    opacity: 0.5;
  }
  .c-modal__img-wrapper {
    width: 100%;
    height: 75%;
  }
  .c-modal__img {
    width: 100%;
  }
  .c-modal__body {
    flex-basis: auto;
    height: 50%;
    padding-top: 60px;
    padding-left: 0;
  }
  .c-modal__title {
    margin-bottom: 5px;
    font-size: 1.25rem;
    line-height: 1.25;
  }
  .c-modal__skills {
    margin-bottom: 10px;
    font-size: 1.125rem;
    line-height: 1.2222222222;
  }
  .c-modal__text {
    height: 100%;
    font-size: 1rem;
    line-height: 1.3125;
  }
}
@media only screen and (max-width: 767px) {
  .c-modal__content {
    width: 90%;
    height: 80vh;
  }
  .c-modal__inner {
    padding: 60px 20px 20px 20px;
  }
  .c-modal__thumbs-list {
    width: 100%;
  }
  .c-modal__thumb-wrapper {
    margin-right: 30px;
  }
  .c-modal__body {
    padding-top: 30px;
    padding-left: 0;
  }
  .c-modal__text {
    height: 25vh;
  }
}
.c-submit-button {
  display: inline-block;
  width: 255px;
  max-width: 100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid #333333;
  background-color: #ffffff;
  color: #333333;
  font-weight: bold;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

.c-submit-button:hover, .c-submit-button:focus, .c-submit-button:active {
  border: 1px solid #ffffff;
  background-color: #333333;
  color: #ffffff;
}

.c-submit-button--disabled {
  background-color: #f6f6f6;
  color: #979797;
  cursor: default;
}

.c-submit-button--disabled:hover, .c-submit-button--disabled:focus, .c-submit-button--disabled:active {
  border: 1px solid #333333;
  background-color: #f6f6f6;
  color: #979797;
  cursor: default;
}

@media only screen and (max-width: 767px) {
  .c-submit-button {
    width: 100%;
  }
}
.c-require-label {
  display: inline-block;
  width: 56px;
  max-width: 100%;
  margin-left: 15px;
  padding: 2px;
  border: none;
  background-color: #eb5757;
  color: #ffffff;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.p-header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: auto;
  text-decoration: none;
}

.p-header-logo__link {
  font-weight: 100;
  font-size: 1.5rem;
  font-family: "Lato", "Noto Sans CJK JP", "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

.p-header-logo__link:hover, .p-header-logo__link:focus, .p-header-logo__link:active, .p-header-logo__link:visited, .p-header-logo__link:link {
  color: #333333;
}

@media only screen and (max-width: 767px) {
  .p-header-logo {
    margin-left: auto;
  }
}
.p-header-nav {
  display: flex;
  height: 100%;
}

.p-header-nav__list {
  display: flex;
  align-items: center;
  height: 100%;
}

.p-header-nav__item {
  margin-right: 60px;
}

.p-header-nav__item:last-child {
  margin-right: 94px;
}

.p-header-nav__link {
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 1.25rem;
  text-decoration: none;
}

.p-header-nav__link:hover, .p-header-nav__link:focus, .p-header-nav__link:active, .p-header-nav__link:visited, .p-header-nav__link:link {
  color: #333333;
}

.p-header-nav__link::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scale(0, 1);
  width: 100%;
  height: 1px;
  background: #333333;
  content: "";
  transition: transform 0.3s;
  transform-origin: right top;
}

.p-header-nav__link:hover::after {
  transform: scale(1, 1);
  transform-origin: left top;
}

.p-header-nav__link.current {
  display: inline-block;
  position: relative;
}

.p-header-nav__link.current::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333333;
  content: "";
}

@media only screen and (max-width: 767px) {
  .p-header-nav {
    flex-direction: column;
  }
  .p-header-nav__item:last-child {
    margin-right: 0;
  }
  .p-header-nav__list {
    margin-right: auto;
    margin-left: auto;
  }
}
.p-footer {
  margin-left: auto;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Lato", "Noto Sans CJK JP", "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

@media only screen and (max-width: 767px) {
  .p-footer {
    font-size: 1rem;
  }
}
.p-cards-works {
  display: flex;
  flex-wrap: wrap;
}

.p-cards-works--col3 {
  margin-bottom: -60px;
}

.p-cards-works--col3 > .p-cards-works__item {
  flex-direction: column;
  width: calc(33.3333333333% - 60px * calc(2 / 3));
  height: auto;
  margin-right: 60px;
  margin-bottom: 60px;
}

.p-cards-works--col3 > .p-cards-works__item:nth-of-type(3n) {
  margin-right: 0;
}

@media only screen and (max-width:1023px) {
  .p-cards-works--col3 {
    margin-bottom: -30px;
  }
  .p-cards-works--col3 > .p-cards-works__item {
    flex-direction: column;
    width: calc(50% - 60px * calc(1 / 2));
    height: auto;
    margin-right: 60px;
    margin-bottom: 30px;
  }
  .p-cards-works--col3 > .p-cards-works__item:nth-of-type(3n) {
    margin-right: 60px;
  }
  .p-cards-works--col3 > .p-cards-works__item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .p-cards-works--col3 > .p-cards-works__item {
    width: calc(100% - 60px * calc(0 / 1));
    margin-right: 60px;
    margin-bottom: 60px;
  }
  .p-cards-works--col3 > .p-cards-works__item:nth-of-type(2n) {
    margin-right: 60px;
  }
  .p-cards-works--col3 > .p-cards-works__item:nth-of-type(1n) {
    margin-right: 0;
  }
}
.p-cards-skills {
  display: flex;
  flex-wrap: wrap;
}

.p-cards-skills--col2 {
  margin-bottom: -40px;
}

.p-cards-skills--col2 > .p-cards-skills__item {
  width: calc(50% - 30px * calc(1 / 2));
  height: auto;
  margin-right: 30px;
  margin-bottom: 40px;
}

.p-cards-skills--col2 > .p-cards-skills__item:nth-of-type(2n) {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .p-cards-skills {
    display: flex;
    flex-wrap: wrap;
  }
  .p-cards-skills--col2 {
    margin-bottom: -40px;
  }
  .p-cards-skills--col2 > .p-cards-skills__item {
    width: calc(100% - 30px * calc(0 / 1));
    height: auto;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .p-cards-skills--col2 > .p-cards-skills__item:nth-of-type(1n) {
    margin-right: 0;
  }
}
.p-cards-service {
  display: flex;
  flex-wrap: wrap;
}

.p-cards-service--col3 {
  margin-bottom: -30px;
}

.p-cards-service--col3 > .p-cards-service__item {
  flex-direction: column;
  width: calc(33.3333333333% - 60px * calc(2 / 3));
  height: auto;
  margin-right: 60px;
  margin-bottom: 30px;
}

.p-cards-service--col3 > .p-cards-service__item:nth-of-type(3n) {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .p-cards-service--col3 > .p-cards-service__item {
    width: calc(100% - 60px * calc(0 / 1));
    margin-right: 0;
    margin-bottom: 30px;
  }
  .p-cards-service--col3 > .p-cards-service__item:nth-of-type(1n) {
    margin-right: 0;
  }
}
.p-fv__title-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: 100px;
}

.p-fv__title {
  font-weight: 100;
  font-size: 3.75rem;
  font-family: "Lato", "Noto Sans CJK JP", "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

.p-fv__title-point {
  color: #0c4579;
}

.p-fv__text {
  margin-left: 100px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .p-fv__title-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
  .p-fv__title {
    font-size: 1.875rem;
  }
  .p-fv__text {
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
  }
}
.p-section__title-wrapper {
  margin-bottom: 40px;
}

.p-section__title {
  font-weight: 100;
  font-size: 2.625rem;
  font-family: "Lato", "Noto Sans CJK JP", "Noto Sans JP", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

.p-career {
  margin-left: 40px;
}

.p-career__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .p-career {
    margin-left: 0;
  }
  .p-career__text {
    font-size: 1rem;
    line-height: 1.3125;
  }
}
.p-profile {
  padding: 30px 0 0 40px;
}

.p-profile__name {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.p-profile__address {
  font-size: 1rem;
  line-height: 1.5;
}

.p-profile__contact {
  font-size: 1rem;
  line-height: 1.5;
}

.p-profile__business_dsc {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .p-profile {
    padding-left: 0;
  }
  .p-profile__name {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  .p-profile__address {
    font-size: 1rem;
    line-height: 1.3125;
  }
  .p-profile__contact {
    font-size: 1rem;
    line-height: 1.3125;
  }
  .p-profile__business_dsc {
    font-size: 1rem;
    line-height: 1.3125;
  }
}
.p-skills__lead-wrapper {
  padding-bottom: 40px;
  padding-left: 40px;
}

.p-skills__lead-wrapper ul {
  padding-left: 10px;
}

.p-skills__lead-wrapper ul li {
  font-size: 1rem;
  line-height: 1.375;
  line-height: 1.5;
}

.p-skills__lead-wrapper ul li .num {
  display: inline-block;
  width: 4em;
  padding-left: 2em;
}

.p-skills__lead {
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.375;
}

@media only screen and (max-width: 767px) {
  .skills__lead-wrapper {
    padding-left: 0;
  }
  .skills__lead-wrapper ul {
    padding-left: 5px;
  }
  .skills__lead-wrapper ul li {
    font-size: 1rem;
    line-height: 1.25;
    line-height: 1.5;
  }
  .skills__lead-wrapper ul li .num {
    display: inline-block;
    width: 2.5em;
    padding-left: 1em;
  }
  .skills__lead {
    font-size: 1rem;
    line-height: 1.3125;
  }
}
.p-contact__lead-wrapper {
  margin-bottom: 40px;
  margin-left: 40px;
}

.p-contact__lead {
  font-size: 1.125rem;
  line-height: 1.5;
}

.p-contact__main {
  width: 400px;
  margin-left: 40px;
}

.p-contact__main .end-message {
  display: none;
}

.p-contact__main .false-message {
  display: none;
}

.p-contact__form {
  width: 100%;
}

.p-contact__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}

.p-contact__label {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.6875;
}

.p-contact__input {
  width: 100%;
  height: 1.5rem;
  padding: 5px;
  border: 1px solid #979797;
  background-color: #f6f6f6;
}

.p-contact__message {
  width: 100%;
  height: 5rem;
  margin-bottom: 40px;
  padding: 5px;
  border: 1px solid #979797;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 767px) {
  .p-contact__lead-wrapper {
    margin-bottom: 40px;
    margin-left: 0;
  }
  .p-contact__lead {
    font-size: 1rem;
    line-height: 1.5;
  }
  .p-contact__main {
    width: 100%;
    margin-left: 0;
  }
  .p-contact__label {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
  }
  .p-contact__input {
    height: 2rem;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.3125;
  }
  .p-contact__message {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.3125;
  }
}
/*========= LoadingのためのCSS ===============*/
/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  color: #ffffff;
  text-align: center;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
  width: 500px;
}

@media only screen and (max-width: 767px) {
  #splash_logo svg {
    width: 250px;
  }
}
/*=============== SVGアニメーション内の指定 =================*/
/*アニメーション前の指定*/
#mask path {
  transition: fill-opacity 0.5s; /*カラーがつく際のアニメーション0.5秒で変化*/
  fill-opacity: 0; /*最初は透過0で見えない状態*/
  fill: none; /*塗りがない状態*/
  stroke: #579AD7; /*線の色*/
}

/*アニメーション後に.doneというクラス名がで付与された時の指定*/
#mask.done path {
  fill: #0C4579; /*塗りの色*/
  fill-opacity: 1; /*透過1で見える状態*/
  stroke: #0C4579; /*線の色*/
}

/*========= レイアウトのためのCSS ===============*/
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #cccccc;
  text-align: center;
}

a {
  color: #333333;
}

a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map*/
