@use "../../global" as global;

.p-career {
    margin-left: 40px;

    &__text {
        font-size: global.rem(18);
        line-height: calc(27/18);
    }
}

@include global.media(sp) {
    .p-career {
        margin-left: 0;

        &__text {
            font-size: global.rem(16);
            line-height: calc(21/16);
        }
    }
}
