@use "../../global" as global;

.p-skills {
    &__lead-wrapper {
        padding-bottom: 40px;
        padding-left: 40px;

        ul {
            padding-left: 10px;

            li {
                font-size: global.rem(16);
                line-height: calc(22/16);
                line-height: 1.5;

                .num {
                    display: inline-block;
                    width: 4em;
                    padding-left: 2em;
                }
            }
        }
    }

    &__lead {
        padding-bottom: 20px;
        font-size: global.rem(16);
        line-height: calc(22/16);
    }
}


@include global.media(sp) {
    .skills {

        &__lead-wrapper {
            padding-left: 0;

            ul {
                padding-left: 5px;

                li {
                    font-size: global.rem(16);
                    line-height: calc(20/16);
                    line-height: 1.5;

                    .num {
                        display: inline-block;
                        width: 2.5em;
                        padding-left: 1em;
                    }
                }
            }
        }

        &__lead {
            font-size: global.rem(16);
            line-height: calc(21/16);
        }
    }
}
